  
  <div class="container-fluid logo-connect">
    <div class="row">
    <div id="logo" class="col-8">
      <a ><img src="..\assets\image\3.png "height="140"     
          alt="StardewValley logo, bouton du menue" routerLink="/" style="cursor: pointer"></a>        <!-- le bouton menu et logo de  stardew_Valley-->
      </div>
          
    
    
    <div class="statut_profil col-4 align-self-end text-center" [hidden]="signedup"> <!-- group button pour ce connecter, sera remplacé par 'ce deco' + 'mon profil'-->
      <h3>Vous n'êtes pas connecté(e) !</h3>                 <!-- rajouter des fonctions au boutons !-->
      <div  role="group" aria-label="Un groupe de boutons">                <!-- rajouter un état connecter pour afficher ou non ça-->
          <button type="button" class="btn btn-primary" routerLink="/register">Créer un compte</button>
          <button type="button" class="btn btn-primary" routerLink="/login">Se connecter</button>
          <button type="button" class="btn btn-primary" routerLink="/">se connecter avec google</button>
      </div>
  </div>









  <div class="statut_profil statut_profil col-4 align-self-end text-center"  [hidden]="!signedup">                            <!-- group button qui remplace ce de en-haut si la personne est connecter -->
      <h3>Vous êtes connecté(e) !</h3>                 <!-- rajouter des fonctions au boutons !-->
      <div class="btn-group" role="group" aria-label="Un groupe de boutons">    <!-- rajouter un état "connecter" pour afficher ou non ça-->
          <button type="button" class="btn btn-secondary" (click)="disconnect()">se déconnecter</button>
          <button type="button" class="btn btn-secondary" routerLink="/profile">mon profil</button>
      </div>

    </div>

  </div>

  <div>
  <nav id='navbar' class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page"routerLink="/">Home</a>
          <a class="nav-link" routerLink="astuces/showAll">Astuces</a>
          <a class="nav-link" routerLink="ajouterAstuce">Ajouter une astuce</a>
          <a class="nav-link" href="#">Mes astuces</a>
          <a class="nav-link" href="#">Discord</a>
          <a class="nav-link" href="#" >Gestion astuces</a>
          <a class="nav-link" href="#" >Gestion commentaires</a>
          <a class="nav-link" href="#" >Gestion utilisateurs</a>
        </div>
      </div>
    </div>
  </nav>
</div>


</div>  
  <router-outlet></router-outlet>
  
  
  
