#body
{
	height: 800px;
	margin: 0 ;
	padding: 260px ;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	
	background-image: url("../../assets/image/wallpaper.jpg"); 
	background-size: 2000px;
	background-position: 50%;
	background-repeat: no-repeat;
 
}


#title , #text{
	color: azure;
	position: relative;
	top: 400px;

}


div#logo               /* placement de l'image dans le coin en à droite */
{
    height: 258px;
	background: no-repeat left top;

}



